# AWS
CDK_DEFAULT_ACCOUNT=YOUR_AWS_ACCOUNT_NUMBER
AWS_REGION=YOUR_AWS_REGION

# Domain/Certs
CERTIFICATE_ARN=DOMAIN_CERTIFICATE_ARN # add this after running certificate-stack
DOMAIN_NAME=REGISTERED_DOMAIN_NAME # no http, ie example.com only

# Turnstile
TURNSTILE_SECRET_KEY=TURNSTILE_SECRET_KEY # cloudflare -> turnstile secret
VITE_TURNSTILE_SITE_KEY=TURNSTILE_SITE_KEY # for frontend

# S3
PORTFOLIO_WEBSITE_BUCKET=WEBSITE_STORAGE_BUCKET # name of bucket to store website pages in
CV_BUCKET_NAME=CV_BUCKET_NAME # name of bucket to store CV/resources in
CV_OBJECT_KEY=CV_OBJECT_NAME # name of object to download

# Dynamo DB
OPEN_TO_WORK_TABLE_NAME=DDB_TABLE_NAME # name of table for open-to-work-status

# CloudFront
PORTFOLIO_DISTRIBUTION_ID=CLOUDFRONT_DISRIBUTION_ID # cloudfront ID

# Self Generated
API_KEY=SELF_GENERATED_API_KEY # API key for authenticating requests to setOpenToWork.ts

# SES
CONTACT_FROM_EMAIL=SES_SENDS_FROM_ADDRESS
CONTACT_TO_EMAIL=SES_SENDS_TO_ADDRESS

# SQS queue URL for sendToQueue.ts
CONTACT_QUEUE_URL=SQS_QUEUE_URL # full url after sqs creation

# Frontend
VITE_API_BASE_URL=GATEWAY_CUSTOM_DOMAIN_NAME_URL # EG: https://api.example.com
VITE_CV_URL=YOUR_CV_URL # /get-cv/CV_OBJECT_KEY.pdf

# GITHUB
GITHUB_REPO=YOUR_GITHUB_REPO
GITHUB_USERNAME=YOUR_GITHUB_USERNAME
GITHUB_BRANCH=main # change if use a different branch strategy
GITHUB_TOKEN_SECRET_NAME=YOUR_GITHUB_PAT #fine-grained, repository -> contents, metadata, & webhooks only.